body {
    background: linear-gradient(to right, maroon, hotpink);
}

.card {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.3);
}